{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-3">
        <h1>Journal Name</h1><br />
        {{jd.0.journal}} <br />
    </div>

    <div class="col-9">
        <h1>Parameters</h1><br />
        {% for res in jd %}
        <ul>
            <li> <b class="btn btn-success">{{res.parameter.parameter_name}} </b>
                <span class="btn btn-secondary"> {{res.chosen_option.option_name}}</span>
            </li>
        </ul>
        {% endfor %}

        <span class="btn btn-primary">{{predicted}}</span>
    </div>
</div>
{% endblock %}