{% extends 'base.html' %} 
{% block content %}

	<div class=" container-fluid pb-5 my-5 rounded">
		<h1 class="display-3 text-center mb-3">Search Journal</h1>

		<form action="{% url 'search:searchposts' %}" method="GET" value="{{request.GET.q}}">
			<div class="input-group">
			<input class="form-control form-control-lg " type="text" name="q" value="{{request.GET.q}}" placeholder="Search Journals"/>
			<div class="input-group-append">	
				<input class="btn btn-block btn-primary " type="submit" name="submit" value="Search" />
			</div>
		</div>
		</form>
	</div>

<div class="container">

  {% if submitbutton == 'Search' and request.GET.q != '' %} 
	{% if results %}
		<h1>Results for <b>{{ request.GET.q }}</b></h1>
		{% for result in results %}
		<ul class="list-group">
			<li class="list-group-item m-2">
				{{result.journal_name}} <br>
				<a href="form?query_name={{ result.journal_name|urlencode }}">{{result.journal_link}}</a>
			</li>
		</ul>
		{% endfor %} 
	{% else %} 
		No search results for this query 
	{% endif %} 
  {% endif%}
</div>

{% endblock %}
